@media screen and (max-width:480px){
  /*画面サイズが480px以下の場合ここの記述が適用される*/
  main {
    width: 100%;
  }
  .title{
    font-size: 10px;
    text-align: center;
    display: block;
  }
  .title2{
    font-size: 25px;
    text-align: center;
    height: 20px;
    display: block;
  }
  .sma{
    display: block;
    text-align: center;
  }
  .p導入{
    display: block;
    text-align: center;
    font-size: 15px;
  }
}
.sma{
  display: none;
}
.title{
  text-align: center;
  display: block;
  font-size: 45px;
  color: black;
  height: 10px;
}
.title2{
  display: block;
  text-align: center;
  font-size: 60px;
  color: #b33e5c;
  height: 0px;
}
.p導入{
  display: block;
  text-align: center;
  font-size: 30px;
  height: 60px;
}
.pArasuzi{
text-align: center;
font-size: 45px;
}

