@media screen and (min-width: 1000px) {

/*PC用CSS*/
.title1{
  text-align: center;
  display: block;
  font-size: 45px;
  color: black;
  margin: 10%;
}
.href{
text-align: left;
}
.sma{
  display: none;
}
.title2{
  font-family: "Dasyutsu";
  display: block;
  text-align: center;
  font-size: 60px;
  color: #b33e5c;
}
.sma2{
  display: none;
}
.dounyuu{
  display: block;
  text-align: center;
  font-size: 30px;
}
.Arasuzi{
text-align: center;
font-size: 45px;
margin: 25px;
}
.あらすじ内容{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}
.条件{
  display: block;
  font-size: 30px;
  font-weight: bold;
}
}
/*スマホ用CSS*/
@media screen and (max-width: 1000px) {
  /*画面サイズが480px以下の場合ここの記述が適用される*/
  main {
    width: 100%;
  }
  .title1{
    font-size: 30px;
    text-align: center;
    display: block;
  }
  .title2 {
    font-family: "Dasyutsu";
    font-size: 35px;
    text-align: center;
    display: block;
    color: #b33e5c;
  }
  .sma{
    display: block;
    text-align: center;
  }
  .sma2{
    display: block;
    text-align: center;
  }
  .dounyuu{
    display: block;
    text-align: center;

    font-size: 25px;
  }
  .Arasuzi{
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
  }
  .あらすじ内容{
    text-align: center;
    font-size: 15px;
  }
  .条件{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
  }
}
@font-face {
  font-family: "Dasyutsu";
  src: url('htpts://github.com/Yutolucky890/-N-/fonts/DotGothic16-Regular.ttf')format('truetype');
}